# TELEGRAM_BOT_TOKEN=8084684514:AAG9SGXhUoJdquVtYaybp5RZZcRim5spURY
TELEGRAM_BOT_TOKEN=8653675342:AAF6AxwWs_i4BUwk5udm75rxgllNUHaoBok
IMAGE_ENABLED=false
BOT_OWNER_ID=your_telegram_user_id_here
POSTGRES_URL=postgresql://neondb_owner:npg_nR4jtMzhc0KN@ep-royal-lake-a1umj0n3-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
GIPHY_API_KEY=pZwnyqsr1KxqFwsPXqDKrgdmEFd2OgQD
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/bingotayo/
IMAGEKIT_PUBLIC_KEY=public_IsJULX8/0gu2arUj83jpRtnADJU=
IMAGEKIT_PRIVATE_KEY=private_tE10CU6umtMYEkh1YUCNR+hLEE8=
UPLOADTHING_TOKEN=eyJhcGlLZXkiOiJza19saXZlX2JkMzVkNjhkZWQ3OWMzODc1NTZlYzZlZDExMzVlMjMwZThjZGQ1MmY1MmZhZmQ4MzEwNmNlN2YwNDdjZWI3N2QiLCJhcHBJZCI6IjU2Njc2Z3k5cm8iLCJyZWdpb25zIjpbInNlYTEiXX0=
IMAGE_ENABLED=false